

<div class="container" style="margin-top:30px;">
    <p>
        <a asp-controller="Info" asp-action="Patterns">O ukladach harmonicznych</a>
    </p>
    <p>
        <a asp-controller="Info" asp-action="Reactions">Poziomy reakcji</a>
    </p>
</div>

