<div style="background-color:#36424a; height:80px;">

</div>

<div style="padding:30px; background-color:#d6d9dc;">
    <div class="text container" style="font-size:15px;">
        <a asp-controller="Patterns" asp-action="Index" class="btn button-blueframe">Typy ukladow</a>
    </div>
</div>

<div class="container">
    <div class="content text" style="min-height:1000px">
        Uklady harmoniczne to....
    </div>
</div>