@{
    ViewData["Title"] = "Poziomy reakcji";
}

<div class="container">

    <div style="margin-top:50px;">
        <a asp-controller="Info" asp-action="Patterns"
           class="btn button-menu"
           style="margin-right:10px;
           margin-left:15px;
           margin-bottom:20px">
            O układach harmonicznych
        </a>

        <a asp-controller="Patterns" asp-action="Index"
           class="btn button-menu"
           style="margin-right:10px;
           margin-bottom:20px">
            Typy ukladow
        </a>

        <a asp-controller="Info" asp-action="Reactions"
           class="btn button-menu-checked"
           style="margin-right:10px;
           margin-bottom:20px">
            Poziomy reakcji
        </a>

        <a asp-controller="Info" asp-action="About"
           class="btn button-menu"
           style="margin-right:10px;
           margin-bottom:20px">
            O co tutaj chodzi?
        </a>
    </div>

    <div class="content text" style="padding-bottom:30px; font-size:18px;">
        <h1>Poziomy reakcji</h1>
        
        <img src="~/images/info/reakcjeInfo.png" style="width:500px;" />

        <p>
            Poziomy reakcji są wyznaczonymi strefami na wykresie cenowym, które opisują siłę danego układu harmonicznego. 
            Gdy układ harmoniczny dociera do wyznaczonego poziomami fibo punktu D spodziewamy się reakcji, tzn odbicia ceny 
            w przeciwnym kierunku. Siłę reakcji ceny (odbicia) opisać można wyznaczając w oparciu o charakterystyczne punkty na wykresie
            strefy cenowe oraz rozpatrując w której strefie znalazła się cena po określonym czasie od osiągnięcia punktu D 
            (po okreslonej liczbie świec).
        </p>
        

        
    </div>
</div>