@{
    ViewData["Title"] = "Poziomy reakcji";
}

<div class="container">

    <div style="margin-top:50px;">
        <a asp-controller="Info" asp-action="Patterns"
           class="btn button-menu"
           style="margin-right:10px;
           margin-left:15px;
           margin-bottom:20px">
            O układach harmonicznych
        </a>

        <a asp-controller="Patterns" asp-action="Index"
           class="btn button-menu"
           style="margin-right:10px;
           margin-bottom:20px">
            Typy ukladow
        </a>

        <a asp-controller="Info" asp-action="Reactions"
           class="btn button-menu-checked"
           style="margin-right:10px;
           margin-bottom:20px">
            Poziomy reakcji
        </a>

        <a asp-controller="Info" asp-action="About"
           class="btn button-menu"
           style="margin-right:10px;
           margin-bottom:20px">
            O co tutaj chodzi?
        </a>
    </div>

    <div class="content text" style="min-height:1000px">
        O poziomach reakcji.... strona w budowie ;)
    </div>
</div>