@model IndexViewModel
@{
    ViewData["Title"] = "Zarzadzaj kontem";

    string imageString = "~/images/DefaultUserPhoto.png";
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="container">

    <div class="text" style="margin:25px;">
        <p style="font-size:35px;"><strong>Moje konto</strong></p>
        <p style="font-size:20px;">Zarządzaj ustawieniami konta</p>
    </div>

    <div class="content-rounded" style="min-height:1000px;">

        <form asp-action="Update" enctype="multipart/form-data">

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-offset-1">
                        @if (Model.User.Avatar.Length > 5)
                        {

                        }
                        else
                        {
                            <img src="~/images/DefaultUserPhoto.png" class="img-circle" style="height:150px; width:150px;" />
                        }
                        <label class="btn btn-default btn-file" for="image">
                            <input id="harmonicPatternImage" type="file" name="image" />  Dodaj zdjecie
                        </label>
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="col-md-1 control-label">Nick</label>
                    <div class="col-md-11">
                        <input asp-for="User.Nick" class="form-control" />
                        <span asp-validation-for="User.Nick" class="text-danger" />
                    </div>
                </div>

                

            </div>


        </form>
    </div>  
</div>


@*
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Phone Numbers can used as a second factor of verification in two-factor authentication.
                See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p>

        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>

        </dd>
    </dl>
</div>
    *@
